.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 400px;
    background: #ffffff;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }

  .todo-app2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 400px;
    background: #ffffff;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  .test{
    height: 100vh;
  }

  .compo-todo{
    margin-top: -100px!important;
  }

  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }

  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
.titre{
  margin-top: -50px;
  margin-bottom: 30px;
}

  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #007BFF;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(0, 0, 0);
  }

  .todo-input2 {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #FFC107;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(0, 0, 0);
  }
  

  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #007BFF;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
  }

  .todo-button2 {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #FFC107;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
  }

  
  
  .todo-input.edit {
    border: 2px solid #007BFF;
  }

  .todo-input2.edit {
    border: 2px solid #FFC107;
  }
  
  .todo-button.edit {
    background: #007BFF;
    padding: 16px 22px;
  }
  .todo-button2.edit {
    background: #FFC107;
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: rgb(0, 0, 0);
    background: #007BFF;
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }

  .todo-row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: rgb(0, 0, 0);
    background: #FFC107;
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
.margetop{
  margin-top: 0!important;
}

.titre-creer{
  margin-top: -80px!important;
}

.titre-information{
  font-size: 40px;
  margin-top: 0px!important;
}

.ajustement{
  width: 60%;
}

.largeur{
  width: 32%!important;
}
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: rgb(0, 0, 0);
  }
  
  .edit-icon {
    color: rgb(0, 0, 0);
  }
  