@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-BoldItalic.ttf") format("ttf"),
       
   }

h1{
    font-family: "Open Sans";
    font-weight: lighter;
}

.titre-main{
margin-top:-35px;
margin-bottom: 40px;
font-size: 60px;
}