#upload {
    opacity: 0;
}
 

#formContent{
    margin-top: -30px;
}
#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.tests{
font-weight:bold;
text-transform:uppercase;
color: #6c757d;
font-family: 'Open Sans';
}

.formulaire{
    width: 84%;
    display: block;
    margin: auto;
    background:#F0F0F0;
    font-family: "Open Sans";
}

.second{
    margin-bottom: 20px!important;
}

.titre-profil{
    margin-top:-110px!important;
    margin-bottom: 60px!important;
    color: white;
    font-size: 50px;
}

.titre-info{
    font-size: 30px;
}

.text-modif{
    font-family: 'Open Sans';
}

.image{
    margin-left:35px!important;
    margin-right: 35px!important;

}

.boutonimage{
    background:rgb(233, 233, 233);
    width: 100%;
    
}